{% extends 'base.html' %} 
{% load static %}

{% block content %}
            
            
            <!-- Page Wrapper -->
			<div class="page-wrapper">
				<div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Create Order</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
									<li class="breadcrumb-item"><a href="{% url 'dashboard:order' %}"> Order</a></li>
									<li class="breadcrumb-item active">Create Order</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Order Info</h4>
									<form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="user">User</label>
													{{form.user}}
												</div>

												<div class="form-group">
													<label for="cart">Cart</label>
													{{form.cart}}
												</div>

												<div class="form-group">
                                                    <label for="total_amount">Total Amount</label>
													{{form.total_amount}}
                             

												</div>

                                                <div class="form-group">
                                                    <label for="grand_total">Grand Total</label>
													{{form.grand_total}}
                             

												</div>
                                                

                                              

                                               
                                               
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="order_status">Order Status</label>
                                                    {{ form.order_status }}
													

												</div>
												<div class="form-group">
													<label for="shipping_cost">Shipping Cost</label>
                                                    {{ form.shipping_cost }}
													

												</div>
                                                <div class="form-group">
													<label for="shipping_address">Shipping Address</label>
                                                    {{ form.shipping_address }}
													

												</div>

                                                
                                                
											
											</div>

                                            <div class="text-end mt-4">
                                                <button type="submit" class="btn btn-primary">Create Order</button>
                                            </div>

										</div>
									</form>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Page Wrapper -->





{% endblock %}