{% extends 'base.html' %} 
{% load static %}

{% block content %}
            
            
            <!-- Page Wrapper -->
			<div class="page-wrapper">
				<div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Update Product Variation</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
									<li class="breadcrumb-item"><a href="{% url 'dashboard:product_variation' %}">Product Variation</a></li>
									<li class="breadcrumb-item active">Update Product Variation</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Product Variation Info</h4>
									<form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Variation Value</label>
													{{form.variation_value}}
												</div>
                                                <div class="form-group">
													<label>Variation Category</label>
													{{form.variation_category}}
												</div>
                                               
												
                                                <div class="form-group">
													<label for="category">Product</label>
                                                    {{ form.product }}
													

												</div>

                                              

                                               
                                               
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="category">Price</label>
                                                    {{ form.price }}
													

												</div>
                                                <div class="form-group">
													<label>Is Active</label>
													{{form.is_active}}
												</div>
											
											</div>

                                            <div class="text-end mt-4">
                                                <button type="submit" class="btn btn-primary">Upadte Product Variation</button>
                                            </div>

										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Page Wrapper -->





{% endblock %}